<mat-toolbar>
  <div class="row align-items-center no-gutters justify-content-evenly w-100">
    <div class="col text-center">INCLUSION</div>
    <div class="col text-center">ACCEPTANCE</div>
    <div class="col text-center">CONFIDENTIALITY</div>
    <div class="col text-center">LIBERTY</div>
    <div class="col text-center">STEWARDSHIP</div>
    <div class="col text-center">ACCOUNTABILITY</div>
    <div class="col text-center">INTEGRITY</div>
    <div class="col text-center">CHILD SAFETY & WELFARE</div>
    <div class="col text-center">CONSENT</div>
  </div>
</mat-toolbar>
