@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-typography.scss';

mat-toolbar {
  background-color: $water;
  color: $sh-text-dark-purple;
  padding: 3em 0;
}

.col,
.row {
  white-space: nowrap;
}
