@import '../../sh-pallette.scss';
@import '../../sh-typography.scss';

mat-toolbar {
  background-color: $sh-purple;
  color: $white;
  height: unset;
  padding: 1em;
}

::ng-deep .svg-inline--fa {
  height: 2em;
  margin: .5em;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  flex-direction: column;
}

.col,
.row {
  margin-top: auto;
}
