@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-typography.scss';

.container-fluid {
  width: 90%;
}

mat-icon.outer.left {
  position: absolute;
  left: calc(50% - 1.5rem);
}

mat-icon.outer.right {
  position: absolute;
  right: calc(50% - 1.5rem);
}

mat-icon.inner.left {
  position: absolute;
  left: calc(50% - (2.25rem/2));
}

mat-icon.inner.right {
  position: absolute;
  right: calc(50% - (2.25rem/2));
}

mat-icon.outer {
  color: $sh-purple-25;
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}

mat-icon.inner {
  color: $sh-purple;
  font-size: 2.25rem;
  height: 2.25rem;
  width: 2.25rem;
  margin-top: calc(.75rem / 2);
}

.start .spacer {
  margin-right: -3%;
  margin-top: .5rem;
}

.end .spacer {
  margin-left: -3%;
  margin-top: .5rem;
}

.row {
  margin: 5rem 0;
}

.row:nth-of-type(odd) {
  flex-direction: row-reverse;
  text-align: end;
}

.row:nth-of-type(even) {
  flex-direction: row;
  text-align: start;
}

.col:has(.title.start) {
  display: flex;
  justify-content: flex-end;
}

.col:has(.title.end) {
  display: flex;
  justify-content: flex-start;
}

.start {
  display: flex;
  justify-content: flex-end;
}

.end {
  display: flex;
  justify-content: flex-start;
}

.title {
  color: $sh-teal;
  font-size: 1.5rem;
  min-width: -webkit-fill-available;
}

.content {
  background: $sh-purple;
  color: $white;
}

.content h4 {
  font-weight: 600;
}

.col.content {
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.col.content.start {
  margin-left: calc(10% - 1.5rem);
  margin-top: -.5rem;
  border: 1px solid hotpink;
}

.col.content.end {
  margin-right: calc(10% - 1.5rem);
  margin-top: -.5rem;
  border: 1px dashed hotpink;
}

.col-1 {
  width: min-content;
}

p {
  margin: .5em;
}

.center-line {
  position: absolute;
  left: calc(50% - 2px);
  height: 100%;
  width: 4px;
  background: $sh-purple-25;
}
