<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <app-triptych [content]="'nav'"></app-triptych>
      </div>
      <div class="col">
        <div class="row"></div>
        <div class="row text-purple">
          <h3>Volunteer</h3>
        </div>
        <div class="row text-dark-purple">
          <p>
            Being an entirely volunteer-run organization with over 600 active members, it really takes a village.
            Whether you're designing flyers, representing Spirit Haven at a local market, a frequent WorkEnder, or
            running for the Board of Directors, there's a place for you! Getting hands-on with Spirit Haven is
            incredibly rewarding - foster connections with new friends, get the warm fuzzies from giving back to
            your community, and keep Spirit Haven running with various levels of volunteerism.
          </p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
