@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-typography.scss';

h1 {
  color: $sh-purple;
}

#history-header {
  margin: 6rem 0;
}

#history-header h1 {
  margin-bottom: 1rem;
}
