<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <div class="row"></div>
        <div class="row text-purple">
          <h3>Membership</h3>
        </div>
        <div class="row text-dark-purple">
          <p>
            Who can be a member?
          </p>
          <ul>
            <li>
              <p>
                Anyone 18 or older may join Spirit Haven!
              </p>
              <p>
                Children under 18 are free of charge, but their membership and event registrations will be tied to their
                parent or legal guardian until they are 18.
              </p>
            </li>
            <li>
              <p>
                Any member older than 18 must have their own Spirit Haven account.
              </p>
            </li>
          </ul>
        </div>
        <div class="row text-dark-purple">
          <p>
            A Spirit Haven membership includes:
          </p>
          <ul>
            <li>
              <p>
                Voting for our Board of Directors
              </p>
            </li>
            <li>
              <p>
                Voting on policies and more at Great Works (business meetings)
              </p>
            </li>
            <li>
              <p>
                Ability to attend Festivals
              </p>
            </li>
            <li>
              <p>
                Ability to attend more than two WorkEnds in a year
              </p>
            </li>
            <li>
              <p>
                Sharing in an inclusive and diverse community
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <app-triptych [content]="'membership'"></app-triptych>
      </div>
    </div>
  </mat-card-content>
</mat-card>
