<div class="row wrapper">
  <div class="col">
    <img priority class="img-fluid logo" ngSrc="../../assets/png/logo-with-text.png" width="216" height="188" />
  </div>

  <div class="col">
    <mat-card class="my-auto">
      <mat-card-content>
        <div class="row text-uppercase">
          <h1>{{festival.festival.trim()}}</h1>
          <h2>{{festival.theme.trim()}}</h2>
          <p>{{festivalDates()}}</p>
        </div>
        <div *ngIf="(timeLeft$ | async) as t;" class="row">
          <div class="col countdown-wrapper">
            <div class="countdown-element">
              <span class="countdown-digit">{{t.days_remaining || '0'}}</span>
              <span class="countdown-label">Day(s)</span>
            </div>
            <div class="countdown-element">
              <span class="countdown-digit">{{t.hours_remaining || '0'}}</span>
              <span class="countdown-label">Hour(s)</span>
            </div>
            <div class="countdown-element">
              <span class="countdown-digit">{{t.minutes_remaining || '0'}}</span>
              <span class="countdown-label">Minutes(s)</span>
            </div>
            <div class="countdown-element">
              <span class="countdown-digit">{{t.seconds_remaining || '0'}}</span>
              <span class="countdown-label">Second(s)</span>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <!-- TODO: RouterLink to festivals > samhain23 (or next festival) -->
            <button mat-fab extended routerLink="">Learn More</button>
          </div>
          <div class="col"></div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
