@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-typography.scss';

.row {
  // border: dashed 1px hotpink;
}

.col {
  // border: solid 1px hotpink;
}

.logo {
  position: relative;
  filter: brightness(0) invert(1);
  left: 12.75%;
  top: 64%;
}
