<div class="row">
  <div id="img" class="col">
    <img priority fill class="img-fluid" ngSrc="../../assets/jpg/f4eef7744cee399396eab61a8ef4c81f.jpg" alt="">
  </div>

  <div id="panels" class="col">
    <h1>Our Principles</h1>
    <ng-container *ngFor="let p of principles; let i = index">
      <mat-expansion-panel hideToggle disabled>
        <mat-expansion-panel-header (click)="togglePanel(i)">
          <mat-panel-description>
            <mat-icon>{{showToggle(i)}}</mat-icon>
          </mat-panel-description>
          <mat-panel-title>
            {{p.nm}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let p of p.desc">
          {{p}}
        </p>
      </mat-expansion-panel>
      <mat-divider *ngIf="showDivider(i)"></mat-divider>
    </ng-container>
  </div>
</div>
