@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-typography.scss';

h1 {
  color: $white;
}

img {
  object-fit: cover;
}

.mat-expansion-panel,
.mat-expansion-panel-header-title {
  color: $white;
}

.mat-expansion-panel {
  background-color: $sh-purple;
  margin: .25rem 0;
}

.mat-expansion-panel:not(.mat-elevation-z) {
  box-shadow: none;
}

::ng-deep .mat-expansion-panel {}

.mat-expansion-panel-header[aria-disabled=true] {
  color: unset;
  padding-right: 0%;
}

.mat-expansion-panel-header-title {
  font-weight: 700;
}

.mat-expansion-panel-header-description {
  flex-grow: unset;
}

.material-icons {
  font-family: 'Material Symbols Rounded Variable', 'Material Icons';
  font-weight: bold;
}

.col {
  padding: unset;
  margin: unset;
}

#img {
  position: relative;
  left: 0;
}

#panels {
  background-color: $sh-purple;
}
