<div id="history-header">
  <h1 class="text-center">Our History</h1>
  <div class="container text-start w-50">
    <p>
      This page intends to honor our long history and our members and leaders past who have worked so hard and
      sacrificed so much to get Spirit Haven to where we are now.
    </p>

    <p>
      Soon, we will have a more complete record of our history, including Campfire Stories from our members and honored
      elders.
    </p>
    <p>
      This page lives and breathes just as Spirit Haven does - it will be ever-changing and growing alongside our
      community.<br>
      That being said, this page is FAR from finished!
    </p>

    <p>
      If you'd like to help, consider emailing internetadmin@spirit-haven.org with your own stories and recollections of
      milestones and events in our community's past.
    </p>
  </div>
</div>
<app-timeline></app-timeline>
<app-campfire-stories></app-campfire-stories>
