@import '../../sh-pallette.scss';
@import '../../sh-typography.scss';
@import '../../sh-styles.scss';

.row {
  justify-content: space-between;
  max-width: 100vw;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu.show {
  padding: unset;
  border: none;
  border-radius: unset;
  inset: -1px auto auto 0px !important
}

.dropdown-item,
.dropdown-header,
.btn {
  padding: .25rem .5rem;
}

.btn-group {
  width: 100%;
}

.btn,
.btn.show,
.btn:hover,
.btn:active {
  border: none !important;
}

.mat-mdc-fab,
.mat-mdc-mini-fab {
  background-color: $sh-purple;
}

mat-toolbar {
  position: sticky;
  background-color: $white;
  color: $sh-purple;
  height: unset;
  box-shadow: $sh-purple-shadow;
}

a {
  display: inline-block;
  position: relative;
}

a,
.hover {
  color: $sh-purple;
}

// a:not(.active)::after,
.hover:not(.active, #nav-menu *)::after {
  display: block;
  content: '';
  position: relative;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $sh-teal;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

// a:not(.active):hover::after,
.hover:not(.active, #nav-menu *):hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

// a:not(.active):hover,
.hover:not(.active):hover {
  color: $sh-teal;
  transition: color .125s ease-out;
}

.hover.active,
.btn.active {
  color: $sh-teal;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
  color: $sh-teal;
  background-color: $white;
}

.btn:disabled,
.btn.disabled {
  color: unset;
  pointer-events: initial;
  opacity: unset;
}

.nav-item {
  width: min-content;
}

.pad-fix {
  padding: 1rem 0;
}

#logo,
#nav-end {
  margin: unset;
  padding: unset;
  max-width: calc(100vw / 3);
  display: flex;
}

#logo {
  justify-content: flex-start;
}

#nav-end {
  justify-content: flex-end;
}

#nav-menu {
  display: none;
  width: min-content;
}

#nav-menu button {
  height: 1.75rem;
  width: 1.75rem;
  background-color: unset;
  color: $sh-purple;
}

@media (max-width: 1875px) {

  #logo,
  #nav-end {
    max-width: calc(100vw / 4);
    display: flex;
  }
}

@media (max-width: 1250px) {

  #logo,
  #nav-end {
    max-width: calc(100vw / 5);
    display: flex;
  }
}

@media (max-width: 1041px) {

  #logo,
  #nav-end {
    max-width: calc(100vw / 6);
    display: flex;
  }
}

@media (max-width: 1040px) {
  #nav-menu {
    display: flex;
  }

  .nav-item,
  #nav-end {
    display: none;
  }
}
