<ng-container>
  <div *ngFor="let card of contentArr" [ngClass]="dirClass != '' ? dirClass : 'row'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{card.title}}</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{card.subtitle}}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-fab extended [routerLink]="[card.nav]">Learn More</button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
