@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-typography.scss';

h1 {
  color: $sh-purple;
}

.img-fluid {
  object-fit: cover;
  object-position: 50% 55%;
}

#img {
  position: relative;
  left: 0;
  padding: unset;
}

#mission-header {
  margin: 6rem 0;
}

#mission-header h1 {
  margin-bottom: 1rem;
}

#about-header h1 {
  color: $white;
  font-size: 2.75rem;
  height: auto;
  margin: auto;
  padding: 7rem;
  position: relative;
  background-color: #5B479575;
}
