<div id="about-header" class="row">
  <div id="img" class="col text-center text-uppercase">
    <img priority fill class="img-fluid" ngSrc="../../assets/.png/5d24de9aff2fd16def0512e397d195d9.jpg" alt="">
    <h1>About Spirit Haven</h1>
  </div>
</div>

<div id="mission-header" class="row text-center">
  <div class="row">
    <h1>Our Mission</h1>
  </div>
  <div class="row">
    <p>
      Spirit Haven, Inc. is a Pagan 501(c)(3) multicultural organization that is committed to fostering
      spirituality.<br>
      We provide a haven for community and celebration to support and promote the well-being of a
      diverse membership, as well as the local and greater community.
    </p>
  </div>
</div>
<app-principles></app-principles>
