@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-typography.scss';

h1 {
  color: $sh-purple
}

.img-fluid {
  object-fit: cover;
}

#img {
  position: relative;
  left: 0;
  padding: unset;
  margin: unset;
}

#mission-header {
  margin: 5em 0;
}

#about-header h1 {
  color: $white;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 1000;
  background-color: #5B479550;
}
