<div id="about-header" class="row my-4">
  <div class="col text-center text-uppercase">
    <h1>About Spirit Haven</h1>
  </div>
</div>

<div class="row text-center">
  <div class="row">
    <h1>Our Mission</h1>
  </div>
  <div class="row">
    <p>
      Spirit Haven, Inc. is a Pagan 501(c)(3) multicultural organization that is committed to fostering
      spirituality.<br>
      We provide a haven for community and celebration to support and promote the well-being of a
      diverse membership, as well as the local and greater community.
    </p>
  </div>
</div>

<div class="row mx-5">
  <div class="col">

  </div>

  <div class="col">
    <app-principles></app-principles>
  </div>
</div>
