<app-header [pageTitle]="'Community'" [headerImg]="'../../assets/jpg/revel-wide.jpg'"
            [position]="'50% 45%'"></app-header>

<div class="container">
  <div id="get-involved" class="row">
    <div class="row text-center align-items-center">
      <h1>Ways to get involved</h1>
    </div>
    <div class="row">
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="membership" queryParamsHandling="merge">
          Become a Member
        </button>
      </div>
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="community-service" queryParamsHandling="merge">
          Festival Community Service
        </button>
      </div>
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="join-a-team" queryParamsHandling="merge">
          Join a Volunteer Team
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="workends" queryParamsHandling="merge">
          Visit a WorkEnd
        </button>
      </div>
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="area" queryParamsHandling="merge">
          Join your local Area
        </button>
      </div>
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="donate" queryParamsHandling="merge">
          Donate
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Membership -->
<ng-container>
  <div id="membership">
    <div id="sh-dark-purple">
      <app-member-triptych [alternate]="true" [direction]="'col'"></app-member-triptych>
    </div>
  </div>
</ng-container>

<!-- Community Service -->
<ng-container>
  <div id="community-service" class="row">
    <app-community-service></app-community-service>
  </div>
</ng-container>

<!-- Volunteer -->
<ng-container>
  <div id="join-a-team" class="row">
    <div class="row text-center">
      <h1>Join a volunteer team</h1>
      <h5>(There's plenty of work to do.)</h5>
    </div>
    <div id="info" class="row w-50">
      <!-- <p>
        Did you enjoy your festival community service and decide you're ready to step up?
        Reach out to the team lead!
      </p>
      <p>
        Are you good at copy editing? Consider joining our Policy Committee!
      </p>
      <p>
        Know of some good spots to hang flyers or run a booth? Give being an Area Representative a shot!
      </p>
      <p>
        Do you resonate with a particular Sacred Space at Spirit Haven
        Ranch? Reach out to that Sacred Space Coordinator to see if they need an assistant!
      </p>
      <p>
        Want to step up and contribute more to maintaining and nurturing Spirit Haven Ranch? Reach out to the Ranch Team
        - we need your help!
      </p>
      <p>
        Not sure where you'd like to contribute your time, but have a niche skill? Reach out to the Board - they'll
        know where you can best help!
      </p> -->

      <!-- <p>
        Did you enjoy your festival community service and decide you're ready to step up?
        Reach out to the team lead!<br>
        Are you good at copy editing? Consider joining our Policy Committee!<br>
        Know of some good spots to hang flyers or run a booth? Give being an Area Representative a shot!<br>
        Do you resonate with a particular Sacred Space at Spirit Haven
        Ranch? Reach out to that Sacred Space Coordinator to see if they need an assistant!<br>
        Want to step up and contribute more to maintaining and nurturing Spirit Haven Ranch? Reach out to the Ranch Team
        - we need your help!<br>
        Not sure where you'd like to contribute your time, but have a niche skill? Reach out to the Board - they'll
        know where you can best help!<br>
        There's plenty of work to do.
      </p> -->

      <p>
        Did you enjoy your festival community service and decide you're ready to step up? Reach out to the team lead!
        Are you good at copy editing? Consider joining our Policy Committee! Know of some good spots to hang flyers or
        run a booth? Give being an Area Representative a shot! Do you resonate with a particular Sacred Space at Spirit
        Haven Ranch? Reach out to that Sacred Space Coordinator to see if they need an
        assistant! Want to step up and contribute more to maintaining and nurturing Spirit Haven Ranch? Reach out to the
        Ranch Team - we need your help! Not sure where you'd like to contribute your time, but have a niche skill? Reach
        out to the Board - they'll know where you can best help!
      </p>
    </div>
  </div>
</ng-container>

<!-- WorkEnds -->
<ng-container>
  <div id="workends" class="row">

  </div>
</ng-container>

<!-- Area -->
<ng-container>
  <div id="area" class="row">

  </div>
</ng-container>

<!-- Donate -->
<ng-container>
  <div id="donate" class="row">

  </div>
</ng-container>
