<app-header [pageTitle]="'Community'" [headerImg]="'../../assets/jpg/revel-wide.jpg'"
            [position]="'50% 45%'"></app-header>

<div class="container">
  <div id="get-involved" class="row">
    <div class="row text-center align-items-center">
      <h1>Ways to get involved</h1>
    </div>
    <div class="row">
      <div class="col-3">
        <button mat-fab extended routerLink="community#membership">
          Become a Member
        </button>
      </div>
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="community-service" queryParamsHandling="merge">
          Festival Community Service
        </button>
      </div>
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="join-a-team" queryParamsHandling="merge">
          Join a Volunteer Team
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="workends" queryParamsHandling="merge">
          Visit a WorkEnd
        </button>
      </div>
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="area" queryParamsHandling="merge">
          Join your local Area
        </button>
      </div>
      <div class="col-3">
        <button mat-fab extended routerLink="./" fragment="donate" queryParamsHandling="merge">
          Donate
        </button>
      </div>
    </div>
  </div>
</div>

<ng-container>
  <!-- Membership -->
  <div id="membership" class="row">
    <!-- MEMBERSHIP TRIPTYCH -->
  </div>
</ng-container>

<ng-container>
  <!-- Community Service -->
  <div id="community-service" class="row">

  </div>
</ng-container>

<ng-container>
  <!-- Volunteer -->
  <div id="join-a-team" class="row">

  </div>
</ng-container>

<ng-container>
  <!-- WorkEnds -->
  <div id="workends" class="row">

  </div>
</ng-container>

<ng-container>
  <!-- Area -->
  <div id="area" class="row">

  </div>
</ng-container>

<ng-container>
  <!-- Donate -->
  <div id="donate" class="row">

  </div>
</ng-container>
