// Spirit Haven Colors //
$jacarta: #32285A;
$blue-magenta-violet: #5B4795;
$maximum-blue-green: #2CB3BC;
$water: #CAECEE;
$languid-lavender: #D6D1E4;
$eton-blue: #8DC99E;
$white: #FFFFFF;
$emerald: #56BB82;

$dark-purple: $jacarta;
$lite-purple: $blue-magenta-violet;
