<ng-container>
  <app-countdown></app-countdown>
</ng-container>

<c-carousel [animate]="false" transition="crossfade" [interval]="5000" pause="hover" [touch]="true">
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img priority fill class="img-fluid" [ngSrc]="slide.src" />
      <div class="wrapper">
        <c-carousel-caption>
          <h1>{{slide.title}}</h1>
          <h5>{{slide.subtitle}}</h5>
        </c-carousel-caption>
      </div>
    </c-carousel-item>

    <div class="wrapper bg"></div>
  </c-carousel-inner>
</c-carousel>
