<ng-container>
  <app-countdown></app-countdown>
</ng-container>

<c-carousel [animate]="true" transition="crossfade" [interval]="5000" pause="hover" [touch]="true">
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img priority fill class="img-fluid" [ngSrc]="slide.src" />
      <div class="wrapper">
        <div class="row">
          <div class="col slide-text">
            <h1>{{slide.title}}</h1>
            <h5>{{slide.subtitle}}</h5>
          </div>
          <div class="col-1"></div>
          <div class="col"></div>
        </div>
      </div>
    </c-carousel-item>

    <div class="wrapper bg"></div>
  </c-carousel-inner>
</c-carousel>
