@import '../../spirit-haven-pallette.scss';

.col {
  max-width: min-content;
}

.row {
  margin: unset;
}

.start {
  justify-content: flex-start;
  display: inline-flex;
}

.end {
  justify-content: flex-end;
  display: inline-flex;
}

mat-toolbar {
  position: sticky;
  background-color: $white;
  color: $lite-purple;

  // Wireframe //
  // border: 1px solid hotpink;
}

#logo-fix {
  margin: 0%;
  padding: 0%;
  margin-right: 7.5rem;
}
