<ng-container *ngIf="env.burn_ban_in_effect">
  <app-burn-banner>
  </app-burn-banner>
</ng-container>

<mat-toolbar (mouseleave)="closeAll()" (mouseover)="hover()">
  <div class="row align-items-center no-gutters w-100">
    <div class="col-lg" id="logo-fix">
      <img priority class="img-fluid" ngSrc="../../assets/png/logo-text-purple.png"
           alt="Spirit Haven Typographical Logo" height="50" width="433.5" routerLink="" routerLinkActive="active"
           ariaCurrentWhenActive="page">
      <!-- Spirit Haven Logo Text -->
    </div>

    <!-- Visible to ALL -->
    <div class="col-1">
      <a class="btn" type="button">
        <span class="hover" routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</span>
      </a>
    </div>

    <ng-container>
      <div class="col-1" (mouseover)="openDropdown('community')">
        <div class="dropdown">
          <button id="community" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  data-bs-auto-close="true" data-bs-reference="parent" aria-expanded="false">
            <span class="hover">Community</span>
          </button>

          <ul class="dropdown-menu" (mouseleave)="closeDropdown('community')">
            <li>
              <h6 class="dropdown-header">Click again to go to Community</h6>
            </li>
            <li><a class="dropdown-item" routerLink="community/membership" routerLinkActive="active"
                 ariaCurrentWhenActive="page">Membership</a></li>
            <li><a class="dropdown-item" routerLink="community/governance" routerLinkActive="active"
                 ariaCurrentWhenActive="page">Governance</a></li>
            <li><a class="dropdown-item" routerLink="community/policies" routerLinkActive="active"
                 ariaCurrentWhenActive="page">Policies</a></li>
            <li><a class="dropdown-item" routerLink="community/merchandise" routerLinkActive="active"
                 ariaCurrentWhenActive="page">Merchandise</a></li>
          </ul>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div class="col-1">
        <div class="dropdown" (mouseover)="openDropdown('festival')">
          <button id="festival" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  data-bs-auto-close="true" data-bs-reference="parent" aria-expanded="false">
            <span class="hover">Festivals</span>
          </button>

          <ul class="dropdown-menu" (mouseleave)="closeDropdown('festival')">
            <li>
              <h6 class="dropdown-header">Click again to go to Festivals</h6>
            </li>
            <li><a class="dropdown-item" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Samhain
                2023</a></li>
            <li><a class="dropdown-item" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Vending at
                Festivals</a></li>
          </ul>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div class="col-1">
        <div class="dropdown" (mouseover)="openDropdown('ranch')">
          <button id="ranch" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  data-bs-auto-close="true" data-bs-reference="parent" aria-expanded="false">
            <span class="hover">Spirit Haven Ranch</span>
          </button>

          <ul class="dropdown-menu" (mouseleave)="closeDropdown('ranch')">
            <li>
              <h6 class="dropdown-header">Click again to go to Spirit Haven Ranch</h6>
            </li>
            <li><a class="dropdown-item" routerLink="" routerLinkActive="active"
                 ariaCurrentWhenActive="page">WorkEnds</a></li>
            <li><a class="dropdown-item" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Hosting
                at Spirit Haven Ranch</a></li>
            <li><a class="dropdown-item" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Sacred
                Spaces Directory</a></li>
          </ul>
        </div>
      </div>
    </ng-container>

    <div class="col-1">
      <a class="btn hover" type="button">
        <span routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</span>
      </a>
    </div>

    <div class="col-lg end">
      <button mat-icon-button="">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="memberAuth; else login">
      <div class="col-1">
        <!-- Visible to Members Regardless of Membership Status -->
        <button mat-icon-button #accountTrigger="matMenuTrigger" [matMenuTriggerFor]="account">
          <mat-icon>person</mat-icon>
        </button>
      </div>

      <mat-menu #account="matMenu" [hasBackdrop]="false">
        <button mat-menu-item ariaCurrentWhenActive="page" disabled>{{memberAuth.prefName}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Account</button>
        <button *ngIf="memberAuth.active" mat-menu-item routerLink="" routerLinkActive="active"
                ariaCurrentWhenActive="page">Dashboard</button>
        <button mat-menu-item routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</button>
      </mat-menu>
    </ng-container>

    <ng-template #login>
      <div class="col-1">
        <button mat-fab extended routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Login /
          Register</button>
      </div>
    </ng-template>
  </div>
</mat-toolbar>
