<ng-container *ngIf="env.burn_ban_in_effect">
  <app-burn-banner></app-burn-banner>
</ng-container>

<mat-toolbar>
  <div class="row align-items-center no-gutters w-100">
    <div class="col-lg" id="logo-fix">
      <img priority class="img-fluid" ngSrc="../../assets/.png/logo-text-purple.png"
           alt="Spirit Haven Typographical Logo" height="50" width="433.5" routerLink="" (mouseenter)="menuCloseAll()">
      <!-- Spirit Haven Logo Text -->
    </div>

    <!-- Visible to ALL -->
    <div class="col">
      <button mat-button routerLink="" (mouseenter)="menuCloseAll()">About</button>
    </div>

    <ng-container>
      <div class="col">
        <button mat-button routerLink="" #communityTrigger="matMenuTrigger" [matMenuTriggerFor]="community"
                (mouseenter)="menuOpen(communityTrigger)">
          Community
        </button>
      </div>

      <mat-menu #community="matMenu" [hasBackdrop]="false">
        <span (mouseleave)="communityTrigger.closeMenu()">
          <button mat-menu-item routerLink="">Membership</button>
          <button mat-menu-item routerLink="">Governance</button>
          <button mat-menu-item routerLink="">Policies</button>
          <button mat-menu-item routerLink="">Shop</button>
        </span>
      </mat-menu>
    </ng-container>

    <ng-container>
      <div class="col">
        <button mat-button routerLink="" #festivalTrigger="matMenuTrigger" [matMenuTriggerFor]="festivals"
                (mouseenter)="menuOpen(festivalTrigger)">
          Festivals
        </button>
      </div>

      <mat-menu #festivals="matMenu" [hasBackdrop]="false">
        <span (mouseleave)="festivalTrigger.closeMenu()">
          <button mat-menu-item routerLink="">Samhain 2023</button>
          <button mat-menu-item routerLink="">Vending at Festivals</button>
        </span>
      </mat-menu>
    </ng-container>

    <ng-container>
      <div class="col">
        <button mat-button routerLink="" #ranchTrigger="matMenuTrigger" [matMenuTriggerFor]="ranch"
                (mouseenter)="menuOpen(ranchTrigger)">
          Ranch
        </button>
      </div>

      <mat-menu #ranch="matMenu" [hasBackdrop]="false">
        <span (mouseleave)="ranchTrigger.closeMenu()">
          <button mat-menu-item routerLink="">WorkEnds</button>
          <button mat-menu-item routerLink="">Hosting at Spirit Haven Ranch</button>
          <button mat-menu-item routerLink="">Sacred Spaces Directory</button>
        </span>
      </mat-menu>
    </ng-container>

    <div class="col">
      <button mat-button routerLink="" (mouseenter)="menuCloseAll()">Contact</button>
    </div>

    <div class="col-lg end">
      <button mat-icon-button="" routerLink="" (mouseenter)="menuCloseAll()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="memberAuth; else login">
      <div class="col">
        <!-- Visible to Members Regardless of Membership Status -->
        <button mat-icon-button #accountTrigger="matMenuTrigger" [matMenuTriggerFor]="account"
                (mouseenter)="menuOpen(accountTrigger)">
          <mat-icon>person</mat-icon>
        </button>
      </div>

      <mat-menu #account="matMenu" [hasBackdrop]="false">
        <span (mouseleave)="accountTrigger.closeMenu()">
          <button mat-menu-item routerLink="" disabled>{{memberAuth.prefName}}</button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="">Account</button>
          <button *ngIf="memberAuth.active" mat-menu-item routerLink="">Dashboard</button>
          <button mat-menu-item routerLink="">Logout</button>
        </span>
      </mat-menu>
    </ng-container>

    <ng-template #login>
      <div class="col">
        <button mat-fab extended routerLink="">Login / Register</button>
      </div>
    </ng-template>
  </div>
</mat-toolbar>
