@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-typography.scss';

h1 {
  color: $sh-purple;
  font-size: 2rem;
}

p {
  color: $sh-text-dark-purple;
}

#policy-header {
  // font-weight: 600;
  font-size: 2.75rem;
}
