@import '../../sh-pallette.scss';
@import '../../sh-typography.scss';

h1 {
  color: $sh-purple;
  margin: 1em auto;
}

p {
  font-size: 1.25rem;
}

p,
h1 {
  padding: 0 4.75rem;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#panels {
  background-color: $sh-purple;
  padding-bottom: 3em;
}

#panels .row,
.col {
  padding: unset;
  margin: unset;
}
