<div class="row">
  <div id="panels" class="col">
    <app-panel-set [panelSetTitle]="'Community Service Teams'" [panelSetData]="serviceOptions"
                   [panelType]="'csPanel'"></app-panel-set>
  </div>

  <div id="info" class="col">
    <div class="row">
      <h1>Festival Community Service</h1>
    </div>

    <div class="row">
      <p>
        Festivals are huge events that require a lot of work to put on.
      </p>
      <p>
        As an entirely volunteer-run organization, Spirit Haven needs your help to make sure Festivals run as smoothly
        as possible.
      </p>
      <p>
        All adults who purchase a Full Event registration are required to do (at least) two hours of community service
        at Festival.
      </p>
      <p>
        During the registration process, you'll need to choose two Community Service options.
      </p>
      <p>
        You may not get your first choice community service option or general time slot, but we do try very hard to
        accommodate everyone.
      </p>
      <p>
        You'll make a few new friends no matter what you're up to!
      </p>
    </div>
  </div>
</div>
