<h1 *ngIf="panelSetTitle != ''" class="text-white">{{panelSetTitle}}</h1>
<mat-accordion [multi]="multi">
  <ng-container *ngFor="let p of panelSetData; let i = index">
    <mat-expansion-panel class="bg-purple text-white" hideToggle disabled>
      <mat-expansion-panel-header (click)="togglePanel(i)">
        <mat-panel-description>
          <mat-icon>{{showToggle(i)}}</mat-icon>
        </mat-panel-description>

        <mat-panel-title>
          {{p.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngIf="p.desc">
        <p class="text-white" *ngFor="let p of p.desc">
          {{p}}
        </p>
      </ng-container>

      <ng-container *ngIf="getPanelType('csPanel')">
        <ng-container *ngIf="p.contact && p.email">
          <p class="text-white">
            {{p.contact}} <a [href]="mailTo(p.email)">{{p.email}}</a>
          </p>
        </ng-container>

        <ng-container *ngIf="p.limited == true">
          <p class="text-white">
            <i>Volunteer spots are limited.</i>
          </p>
        </ng-container>

        <ng-container *ngIf="p.special">
          <p *ngFor="let p of p.special">
            <b>{{p}}</b>
          </p>
        </ng-container>

        <ng-container *ngIf="p.misc">
          <p *ngFor="let p of p.misc">
            <i>{{p}}</i>
          </p>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="getPanelType('areaPanel')">
        <ng-container *ngIf="p.repEmail else noEmail">
          <p>
            Email: <a [href]="mailTo(p.repEmail)">{{p.repEmail}}</a>
          </p>
        </ng-container>

        <ng-template #noEmail>
          <p>
            Email: <a [href]="mailTo('help@spirit-haven.org')">help@spirit-haven.org</a>
          </p>
        </ng-template>

        <ng-container *ngIf="p.areaSocials">
          <div id="social" class="row">
            <div class="col" *ngFor="let p of p.areaSocials">
              <a [href]="p">{{displaySocial(p)}}</a>
            </div>
          </div>
        </ng-container>
      </ng-container>

    </mat-expansion-panel>
    <mat-divider *ngIf="showDivider(i)"></mat-divider>
  </ng-container>
</mat-accordion>
