@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-typography.scss';

h3 {
  margin: .5em;
  color: $white;
  font-size: 1.47rem;
  letter-spacing: .02rem;
}

div {
  background-color: $sh-text-dark-purple;
  margin: 0%;
  padding: 0%;
}
