@import '../../spirit-haven-pallette.scss';
@import '../../spirit-haven-fonts.scss';

h4 {
  margin: .5em;
  color: $white;
  font-weight: 600;
  font-size: 1.47rem;
  letter-spacing: .02rem;
}

div {
  background-color: $sh-text-dark-purple;
  margin: 0%;
  padding: 0%;
}
